<div class="wrapper">
    <div class="container">
    <div class="section">
        <form>
            <div class="input-group no-border col-md-4" style="margin-top: 50px;">
              <input type="text" value="" class="form-control" placeholder="Search... "  (ngModelChange)="search($event)" [ngModel]="key" name="key" >
              <div class="input-group-append">
                
                <div class="input-group-text">
                  <i class="now-ui-icons ui-1_zoom-bold"></i>
                </div>
              </div>
            </div>
          </form>
          <div *ngFor=" let balade of listbalade  ">
           <div class="row"  style="margin-top: 50px;">
            <br> <br>
            
            <div class="col-md-3">
                <img src="assets/img/balade.jpg" alt="" class="img-raised">
            </div>
            <div class="col-md-9">
          <h3 class="title">{{balade.titre}}</h3>
          <p style="font-weight: bold ;" class="text-danger" > a partir de {{balade.prix}} DT</p>
          <p style="font-weight: bold ;" >  {{balade.nombre}} Personnes</p>
          <p >{{balade.description}}</p>

          <button class="btn btn-danger btn-round pull-right" [routerLink]="['/user/info_balade',balade.id]">réserver</button>
        </div>
    </div></div>
  
        </div>       <ngb-pagination  
        [boundaryLinks]="true"  [maxSize]="3" [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" (pageChange)="nextPage($event);" class="pagination-primary">
        </ngb-pagination>
    </div>

</div>
