<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Modifier categorie</h5>
        </div>
        <div class="card-body">
          <form #f="ngForm" [formGroup]="CategorieForm" (ngSubmit)="submit(f)">
            <div class="row">
              
              <div class="col-md-3 px-1">
                <div class="form-group">
                  <label>Nom categorie</label>
                  <input type="text"  [(ngModel)]="cat.nomCategorie" [formControlName]="'nomCategorie'" id="nomCategorie"  class="form-control" placeholder="Username" value="michael23">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>About Me</label>
                  <textarea rows="4" cols="80" class="form-control" placeholder="Here can be your description" value="Mike">Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</textarea>
                </div>
              </div>
              <button type="submit"  class="btn btn-primary right">Enregistrer modification</button>

            </div>
          </form>
        </div>
      </div>
    </div>
  
  </div>
</div>

